/* Globales */
body {
  background-color: #666;
  font-family: rubik;
  color: white;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

img {
  width: 80px;
}

div {
  padding: 10px;
}

button {
  margin: 10px;
  cursor: pointer;
}

span {
  text-align: center;
  width: 55px;
  background-color: #3b2929;
}

span:hover {
  font-size: 18px;
}

.serch {
  font-size: 30px;
}

.input-container {
  text-align: center;
  padding-bottom: 50px;
}

.input-container input {
  border-radius: 20px;
  padding: 20px 10px;
  font-size: 24px;
  font-weight: bold;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
}

.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}

.card-subtitle {
  font-weight: lighter;
  color: #666;
  margin-top: 5px;
}

#pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 10px;
}

.card:hover {
  animation: bounce 0.5s linear;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(0px);
  }
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
}

.types span {
  padding: 12px;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}

p .type {
  display: block;
}
/*# sourceMappingURL=pokedex.css.map */